@{
    ViewData["Title"] = "Account";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>

<body>
    <main class="change-password">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-new-password" }))
        {
            <h2>Change Password</h2>
            <input type="text" id="input-password" name="password" placeholder="Enter new password..."/>
            <input type="submit" value="Change Password">
        }
    </main>
</body>