@{
    ViewData["Title"] = "User Settings";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<div class="container">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        <div class="text-center">
            <h1 class="display">Change Password</h1>
        </div> 
        <div class="change-password-form">
            <tr>
                <label for="username"><b>Enter New Password</b></label>
                <td>@Html.Password("password")</td>
        </div>

        <div class="change-password-btn">
            <input class="btn btn-info" type="submit" name="Submit"/>
        </div>
    }
</div>