/* #container {
    width: 33px;
}

#image {
    width: 100%;
}

#extension {
    font-size: 16px;
    color: #036a38;
    text-align: justify;
}

#filename {
    font-size: 16px;
    color: #036a38;
    text-align: justify;
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0;
    background-color: #036a38;
    overflow-x: hidden;
    padding-top: 20px;
}

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
    }

.file_block {
    padding: 14px 80px 0 47px;
    font-size: 18px;
    background-color: white;
    color: #036a38;
    line-height: 1.2;
    text-align: center;
    border: 5px solid #036a38;
    width: 33px;
    height: 128px;
}

    .file_block:hover {
        background-color: #a3d031;
    }

    .file_block:active {
        background-color: #a3d031;
    }

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
/* } */ 

:root {
  --mcgreen: #036a38;
  --mclightgreen: #a3d031;
}

.file-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-top: 100px;
}

.file-icon {
  width: 50px;
  height: 50px;
}

.file-button {
  width: 200px; 
  height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: background-color 0.1s, border-color 0.1s;
}

.file-button:hover {
  border-color: var(--mcgreen);
}

.file-button.selected {
  background-color: var(--mclightgreen);
  color: white;
  border-color: var(--mcgreen);
}

#download-delete-buttons button {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#download-delete-buttons #form-download button {
  background-color: var(--mclightgreen);
  color: white;
}

#download-delete-buttons #form-download button:hover {
  background-color: var(--mcgreen);
}

#download-delete-buttons #form-delete button {
  background-color: red;
  color: white;
}

#download-delete-buttons #form-delete button:hover {
  background-color: darkred;
}

#form-download {
  display: inline;
}

#form-delete {
  display: inline;
}