@{
    ViewData["Title"] = "Files";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script>
        Dropzone.options.myDropzone = {
            dictDefaultMessage: "Upload File",
            createImageThumbnails: false,

            init: function() {
                var myDropzone = this;

                this.on("success", function(file, response) {
                    this.removeFile(file);
                });

                this.on("error", function(file, response) {
                    alert("Error uploading the file.");
                });
            }
        }
    </script>
</head>

<body>
    <form id="form" method="post" enctype="multipart/form-data" data-pasley-validate class="form-horizontal form-label-left">
        <main>
            <div action="/File/Upload" class="dropzone" id="uploader">
                <button class="dz-message" data-dz-message><span>Upload File</span></button>
            </div>
        </main>
    </form>
</body>

<div class="file-body">
    @* <div class="file_block">
        <img src="@Url.Content("~/data/images/IMG_file.png")" width="33" height="54" />
        <p id="text">.png&#10;MyFile</p>
    </div> *@

    <div class="file_block">
        <img src="@Url.Content("~/data/images/IMG_file.png")" width="33" height="54" />
        <p id="extension">.pdf</p>
        <p id="filename">OtherFile</p>
    </div>
</div>