@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <h1>@ViewData["Title"]</h1>

    <p>PLACEHOLDER</p>
</body>